<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="changescore">
	<select id="allList" resultType="sr.changescoreinput.model.ChangescoreinputDTO">
		select p.name, p.id, c.lecture_num, p.name, c.changereason from changescoreinput c, person p
	</select>
	
	<insert id="insert" parameterType="sr.changescoreinput.model.ChangescoreinputDTO">
		insert into changescoreinput
		values(#{lecture_num}, #{id}, #{changereason})
	</insert>
	
	<!-- 기각 -->
	<delete id="delete" parameterType="sr.changescoreinput.model.ChangescoreinputDTO">
		delete changescoreinput c, person p where c.lecture_num=#{lecture_num} and p.id=#{id}
	</delete>
	
	<!--학생 성적 수정  다른테이블에-->
	<update id="scoreUpdate" parameterType="sr.scoreinput.model.ScoreinputDtoList">
		update scoreinputncheck c, person p set score=#{score} where p.id=#{id} and c.lecture_num=#{lecture_num}
	</update>
	
	<!-- 신청자 정보 받아오기 -->
</mapper>